.block
    script(src='../../../css/styles/header/header.js')
    a(class="header__title" href="/" data-href="/") RecipeChain
    div(class="header__dropdown")
        p(class="dropdown__toggler" id="kek" onclick="openNav()") Меню
    